pylint==2.11.1
pytest-cov
pytest-check
pytest-csv
ipykernel
autopep8
pycodestyle
bump2version
python-jenkins
Mako
GitPython
gitdb
pymongo
xmltodict

git+https://github.com/intel-restricted/applications.manufacturing.intel.process-design-kit.infrastructure.devops.de-pdk-automation.git@v0.7.0#subdirectory=packages/waldo-devtools
git+https://github.com/intel-restricted/applications.manufacturing.intel.process-design-kit.infrastructure.devops.de-pdk-automation.git@v0.7.0#subdirectory=packages/waldo-tools
git+https://github.com/intel-restricted/applications.manufacturing.intel.process-design-kit.infrastructure.devops.de-pdk-automation.git@v0.7.0#subdirectory=packages/pizza_structure
git+https://github.com/intel-restricted/applications.manufacturing.intel.process-design-kit.infrastructure.devops.waldo-jenkins.git@v0.7.0
git+https://github.com/intel-restricted/applications.manufacturing.intel.process-design-kit.infrastructure.devops.parasitics.git
